<form class="search-form">
	<input
		class="search-form-input"
		name="search"
		type="search"
		placeholder="Search Art, Artist, Work... "
		[value]="searchString"
		[formControl]="searchControl"
	/>
</form>
<div class="art-list">
	@for (art of arts; track $index) {
		<app-art-item
			[id]="art.id"
			[description]="art.title"
			[author]="art.artist_title"
			[privacy]="art.is_public_domain ? 'Public' : 'Private'"
			[imageId]="art.image_id"
			[dateEnd]="art.date_end"
		/>
	}
	@if (arts.length) {
		<a
			title="Alphabetically"
			class="sortByAlphabetButton"
			(click)="onSortByAlphabet()"
			>Sort by title</a
		>
		<a class="sortByDateButton" (click)="onSortByEndDate()"
			>Sort by end date of work</a
		>
	}
</div>
