.loader-container {
	margin-top: 10rem;
}

.detail-image {
	width: 25rem;
	height: 25rem;
	position: absolute;
	top: 10rem;
	left: 15rem;
}

.detail-description {
	position: absolute;
	top: 9.8rem;
	left: 44rem;
	width: 32.5rem;
	height: 4.4rem;
	font-size: 26px;
	font-weight: 500;
	line-height: 34px;
	overflow: hidden;
}

.detail-author {
	position: absolute;
	top: 14.5rem;
	left: 44rem;
	color: #e0a449;
	font-size: 18px;
	font-weight: 500;
}

.detail-date {
	position: absolute;
	top: 17rem;
	left: 44rem;
	font-weight: 700;
	font-size: 14px;
}

.detail-overview {
	position: absolute;
	top: 23rem;
	left: 44rem;
	font-size: 26px;
	font-weight: 500;
}

.detail-overview-style-name {
	position: absolute;
	top: 26rem;
	left: 44rem;
	color: #e0a449;
}

.detail-overview-style-desc {
	position: absolute;
	top: 26rem;
	left: 46.8rem;
	width: 42.7rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #000;
}

.detail-overview-dimensions-name {
	position: absolute;
	top: 28rem;
	left: 44rem;
	color: #e0a449;
}

.detail-overview-dimensions-desc {
	position: absolute;
	top: 28rem;
	left: 52.5rem;
	width: 24rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #000;
}

.detail-overview-credit-name {
	position: absolute;
	top: 30rem;
	left: 44rem;
	color: #e0a449;
}

.detail-overview-credit-desc {
	position: absolute;
	top: 30rem;
	left: 49.5rem;
	width: 27rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #000;
}

.detail-overview-place-name {
	position: absolute;
	top: 32rem;
	left: 44rem;
	color: #e0a449;
}

.detail-overview-place-desc {
	position: absolute;
	top: 32rem;
	left: 51rem;
	text-decoration: none;
	color: #000;
}

.detail-privacy {
	position: absolute;
	top: 33.9rem;
	left: 44rem;
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

.detail-favorite-icon {
	position: absolute;
	background-color: #fff;
	border-radius: 2rem;
	left: 35.8rem;
	top: 11rem;
	cursor: pointer;
	transition: transform 1s ease-in-out;
}

.detail-favorite-icon:hover {
	.detail-favorite-icon-color {
		fill: #da740a;
	}
}

.detail-favorite.detail-favorite-icon-color {
	fill: #da740a;
}
