.search-form {
	text-align: center;
}

.search-form-input {
	outline: 0;
	width: 35%;
	border: 0px;
	background-color: #e9e2e2;
	border-radius: 1rem;
	padding: 0.7rem;
	font-size: 15px;
	margin: 2% 0 3%;
}

.art-list {
	margin: 0 16% 4rem;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
	position: relative;
}

.sortByAlphabetButton {
	position: absolute;
	right: 2rem;
	top: -2rem;
	color: #000;
	cursor: pointer;
}

.sortByDateButton {
	position: absolute;
	right: 8rem;
	top: -2rem;
	color: #000;
	cursor: pointer;
}

@media (max-width: 400px) {
	.art-list {
		margin: 8% 8.5% 10%;
	}

	.sortByAlphabetButton {
		display: none;
	}

	.sortByDateButton {
		display: none;
	}

	.search-form-input {
		width: 60%;
	}
}
