.loader-container {
	margin-bottom: 4rem;
}

.gallery {
	margin: 0 16%;
}

.gallery-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (max-width: 400px) {
	.gallery {
		margin: 0 12.5%;
	}
}
