<div class="art-item" (click)="onNavigate()">
	<img
		class="art-item-image"
		loading="lazy"
		src="https://www.artic.edu/iiif/2/{{ imageId }}/full/843,/0/default.jpg"
		[alt]="description"
	/>
	<p class="art-item-description">{{ description }}</p>
	<span class="art-item-author">{{ author }}</span>
	<span class="art-item-privacy">{{ privacy }}</span>
	<svg
		class="art-item-favorite-icon"
		xmlns="http://www.w3.org/2000/svg"
		id="Layer_1"
		data-name="Layer 1"
		viewBox="0 0 24 24"
		width="50"
		height="50"
		version="1.1"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		xmlns:svgjs="http://svgjs.dev/svgjs"
	>
		<g width="100%" height="100%" transform="matrix(1,0,0,1,0,0)">
			<path
				class="art-item-favorite-icon-color"
				d="m15,8v6l-3-2.25-3,2.25v-6c0-.551.448-1,1-1h4c.552,0,1,.449,1,1Zm9,4c0,6.617-5.383,12-12,12S0,18.617,0,12,5.383,0,12,0s12,5.383,12,12Zm-7-4c0-1.654-1.346-3-3-3h-4c-1.654,0-3,1.346-3,3v10l5-3.75,5,3.75v-10Z"
				fill="#e0a449"
				fill-opacity="1"
				data-original-color="#000000ff"
				stroke="none"
				stroke-opacity="1"
			/>
		</g>
	</svg>
</div>
